In [137]:
import numpy as np
import pandas as pd

In [138]:
movies = pd.read_csv('movies.csv')
credits = pd.read_csv('credits.csv')

In [149]:
movies.loc[movies['original_language'] == 'hi']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1023,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,7504,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",hi,1947: Earth,It's 1947 and the borderlines between India an...,1.246883,"[{""name"": ""Cracking the Earth Films"", ""id"": 22...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1998-09-16,528972,101.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Earth,6.6,9
2962,7400000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,14395,"[{""id"": 596, ""name"": ""adultery""}, {""id"": 34094...",hi,कभी अलविदा ना कहना,Dev and Maya are both married to different peo...,3.246903,"[{""name"": ""Yash Raj Films"", ""id"": 1569}, {""nam...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2006-08-11,17000000,193.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A Love.... That Broke All Relationships,Kabhi Alvida Naa Kehna,6.1,42
2971,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://housefull.erosentertainment.com/,58051,[],hi,Housefull,Believing himself to be a jinx and bringing ba...,0.120820,[],"[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2010-04-30,0,135.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,"He found the girl of his dreams, he fell in lo...",Housefull,5.2,29
3089,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",NaN,32740,[],hi,कृष,Krishna (Roshan) is born with magical powers -...,3.759988,[],[],2006-06-23,0,154.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Krrish,5.5,46
3157,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,132316,"[{""id"": 10540, ""name"": ""bollywood""}, {""id"": 15...",hi,Jab Tak Hai Jaan,"An ex-army man, leading a double life in Londo...",5.900535,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2012-11-13,0,176.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Jab Tak Hai Jaan,7.3,66
3228,7700000,"[{""id"": 10749, ""name"": ""Romance""}]",http://www.facebook.com/YehJawaaniHaiDeewani,185008,[],hi,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani features two polar opp...,3.353176,"[{""name"": ""Dharma Productions"", ""id"": 19146}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2013-05-31,46000000,159.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Yeh Jawaani Hai Deewani,7.2,79
3327,0,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 35, ""...",http://www.yashrajfilms.com/microsites/TRRP/mi...,14165,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5626,...",hi,Ta Ra Rum Pum,"A poor New York resident, who is of Indian ori...",0.553752,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2007-04-27,0,156.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Ta Ra Rum Pum,6.0,13
3374,7000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,4251,"[{""id"": 2038, ""name"": ""love of one's life""}, {...",hi,Veer-Zaara,The story of the love between Veer Pratap Sing...,3.721858,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2004-11-12,29385320,192.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,A Love Legend,Veer-Zaara,7.4,64
3543,2200000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,7913,"[{""id"": 2387, ""name"": ""new delhi india""}, {""id...",hi,Rang De Basanti,"A young idealistic English filmmaker, Sue, arr...",5.206967,"[{""name"": ""Flicks Motion Pictures"", ""id"": 2319...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2006-01-26,11502151,157.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,A Generation Awakens,Rang De Basanti,7.2,97
3553,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://www.dummaarodum.com/,63006,"[{""id"": 7090, ""name"": ""goa""}, {""id"": 33067, ""n...",hi,Dum Maaro Dum,"We hurtle into the bylanes, beach shacks and r...",0.075817,[],[],2011-04-22,0,130.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Goa. Paradise on Earth. But every Paradise has...,Dum Maaro Dum,5.4,7
3645,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",http://gandhimyfather.erosentertainment.com/,38428,"[{""id"": 5565, ""name"": ""biography""}, {""id"": 792...",hi,"Gandhi, My Father","With Gandhi My Father, producer Anil Kapoor an...",0.080704,[],"[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2007-08-03,0,136.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,To the People...He was a Father. To his Son......,"Gandhi, My Father",6.0,2
3722,4500000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,375290,"[{""id"": 2227, ""name"": ""evacuation""}, {""id"": 60...",hi,Airlift,"When Iraq invades Kuwait in August, 1990, a ca...",2.551559,"[{""name"": ""T-Series"", ""id"": 3522}, {""name"": ""H...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2016-01-22,32000000,126.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,"170,000 Refugees, 488 Flights, 59 Days, 1 Man",Airlift,7.3,57
4166,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",NaN,157293,"[{""id"": 240, ""name"": ""underdog""}, {""id"": 271, ...",hi,एबीसीडी,When a capable dancer is provoked by the evil ...,1.294967,"[{""name"": ""UTV Motion Pictures"", ""id"": 2320}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2013-02-07,222000,160.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,India's First 3D Dance movie,ABCD (Any Body Can Dance),5.6,10
4198,1000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,191714,[],hi,Dabba,A mistaken delivery in Mumbai's famously effic...,14.017809,"[{""name"": ""UTV Motion Pictures"", ""id"": 2320}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}, {""iso_...",2013-09-19,4235151,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,The Lunchbox,7.3,221
4210,0,"[{""id"": 10749, ""name"": ""Romance""}]",NaN,74084,[],hi,दिल जो भी कहे,"During the British rule in India, several Indi...",0.122704,"[{""name"": ""Entertainment One Pvt. Ltd."", ""id"":...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2006-12-07,0,0.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Dil Jo Bhi Kahey...,0.0,0
4295,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,480,"[{""id"": 516, ""name"": ""child abuse""}, {""id"": 59...",hi,Monsoon Wedding,From an exciting Indian wedding comes a relati...,8.109958,"[{""name"": ""IFC Films"", ""id"": 307}, {""name"": ""M...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2001-08-30,0,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"A stressed father, a bride-to-be with a secret...",Monsoon Wedding,6.8,57
4331,1250000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.yashrajfilms.com/microsites/rockets...,26815,"[{""id"": 3734, ""name"": ""ambition""}, {""id"": 1054...",hi,Rocket Singh: Salesman of the Year,Rocket Singh - Salesman of the Year is the som...,3.000435,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2009-12-11,0,156.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,Welcome to the world of sales boss!,Rocket Singh: Salesman of the Year,7.0,27
4371,1000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",NaN,56666,"[{""id"": 236, ""name"": ""suicide""}, {""id"": 963, ""...",hi,Fiza,In 1993 Fiza's brother disappears during the r...,0.043023,[],"[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2000-09-08,623791,170.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,In Search of her brother,Fiza,6.1,7
4512,550000,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 18,...",NaN,211086,"[{""id"": 486, ""name"": ""himalaya""}, {""id"": 4096,...",hi,Faith Connections,A filmmaker's insight into the biggest gatheri...,0.480880,"[{""name"": ""Jungle Book Entertainment"", ""id"": 5...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",2013-11-21,0,115.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Faith Connections,4.2,3

In [74]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [75]:
credits.head(1)['cast'].values

array(['[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'],
      dtype=object)

# merging two dataframes

In [76]:
movies = movies.merge(credits,on='title')

In [77]:
movies.shape

(4809, 23)

In [78]:
movies.iloc[2662]

budget                                                           15000000
genres                                      [{"id": 18, "name": "Drama"}]
homepage                                                              NaN
id                                                                 370980
keywords                [{"id": 717, "name": "pope"}, {"id": 5565, "na...
original_language                                                      it
original_title                 Chiamatemi Francesco - Il Papa della gente
overview                                                              NaN
popularity                                                       0.738646
production_companies               [{"name": "Taodue Film", "id": 45724}]
production_countries              [{"iso_3166_1": "IT", "name": "Italy"}]
release_date                                                   2015-12-03
revenue                                                                 0
runtime                                                               NaN
spoken_languages            [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
status                                                           Released
tagline                                                               NaN
title                          Chiamatemi Francesco - Il Papa della gente
vote_average                                                          7.3
vote_count                                                             12
movie_id                                                           370980
cast                    [{"cast_id": 5, "character": "Jorge Mario Berg...
crew                    [{"credit_id": "5660019ac3a36875f100252b", "de...
Name: 2662, dtype: object

# removing unnecessary columns

In [79]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [80]:
#list of important columns
#genres
#movie_id
#keywords
#title
#overview(won't keep tagline bcoz already overview is there)
#cast
#crew

In [81]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [82]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## data preprocessing

In [83]:
#checking null rows

In [84]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [85]:
movies.dropna(inplace=True)

In [86]:
movies = movies.reset_index()

In [87]:
#checking duplicate data

In [88]:
movies.duplicated().sum()

0

In [89]:
# we need only three columns movie_id,title,tags
#so we need to merge all other colums (overview,genre,keyword,cast(main actors only),crew(director only) in one column)
#for this we need to bring them in proper format

In [90]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [91]:
#[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
#the above output is in format of list of dictionaries
#we need ['Action','Adventure','Fantasy','Science Fiction']

In [92]:
#the object we will get in this function will be a string
#so to convert string in list ast.litera_.eval is used
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [93]:
movies['genres'] = movies['genres'].apply(convert)

In [94]:
movies['keywords'] = movies['keywords'].apply(convert)

In [95]:
#for cast column we will consider first three dictionaries only hat is first three actors
#and from each dictionary value name i s what we need

In [96]:
def convert3(obj):
    L = []
    cnt = 0
    for i in ast.literal_eval(obj):
        if cnt != 3:
            L.append(i['name'])
            cnt+=1
        else:
            break
    return L

In [97]:
movies['cast'] = movies['cast'].apply(convert3)

In [98]:
#for crew column we need dictionary where job is director

In [99]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [100]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [101]:
#overview is in string format so need to convert it into list

In [102]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [103]:
#need to remove sapce from cast,crew,genres and keyword
#becausr sam abc and sam sam xyz are different but sam might 
#create confusion so it should look like samabc and samxyz
# for eg science fiction = sciencefiction

In [104]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [105]:
#now create new column tags and concatenate genres,keywords,cast,crew,overview

In [106]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] +movies['cast']+movies['crew']

In [107]:
#remove all other columns
new_df = movies[['movie_id','title','tags']]

In [108]:
#tags is in the list format convert it into strings
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/tmp/ipykernel_22050/1815135130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [109]:
#convert tags in lowercse

new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/tmp/ipykernel_22050/2461458423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [110]:
new_df.iloc[2662]

movie_id                                                20083
title                                       Shinjuku Incident
tags        iron zhao aka steelhead, a truck repairman fro...
Name: 2662, dtype: object

In [111]:
#stemming
#e.g help,helping,helped so stemming is process of removing suffixes
#so help will store
import nltk

In [112]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

#ps.stem('sleeping')

In [113]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)  #returning string

In [114]:
new_df['tags'] = new_df['tags'].apply(stem)

/tmp/ipykernel_22050/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

# vectorization

In [115]:
#for vectorization there is library available in sklearn

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000,stop_words='english')
#5000 words with max frequency

In [116]:
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors.shape
#above will return sparse matrix.convert it into numpy array
#shape (movies,words) each vectorfrom  4806 vectors contains 5000 numbers

(4806, 5000)

In [117]:
#cv.get_feature_names()  #shows 5000 most frequent words

In [118]:
#we have to calculate distance of each movie from every other movie

In [119]:
#we will calculate cosine distance
#distance is inversely proportional to similarity

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

In [121]:
similarity = cosine_similarity(vectors)

In [122]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

# main function

In [123]:
#steps
#1.find index of given movie
#2. in similarity matrix go to that index
#3. sort that vector which is present on that index

def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [124]:
#sorted(similarity[0]) # sorted in ascending
#sorted(similarity[0],reverse =True) #now got in descending order

#but the problem is that we are loosing movie index 
#because vector was stored according to movies i.e similarity of movie 0 with 0 on oth index,o with 1 on 1st index
#but after sorting we can't say that this is true
#so use enumerate function to store index first and then sort
#and after we applied enumerate function sorted function will sort on basis of index that we got by enumerate function
#but we want sorting on the basis of similarity so write lambda function
#we want to recommend 5 movies

#sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

In [125]:
import pickle

In [126]:
pickle.dump(new_df.to_dict(),open('movies.pkl','wb'))

In [127]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [128]:
unpickled_df = pd.read_pickle("movies.pkl")

In [129]:
unpickled_df['movie_id'][2662]

20083